/* font-family: 'Bangers', cursive; */


* {
    background-color: black;
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

/* #hangmanGame{
    float: left;
    background-color: black;
    margin: 20px;
    width: 45%;
} */

#container {
    background-color: black;
    color: white;
    height: 100%;
}

#bannerpic{
    width: 100%;
    height: 250px;
}

#instructions{
    color: red;
    text-align: center;
}

#heroesDiv{
    width: 80%;
    float: right;
}

#heroWin{
        text-transform: capitalize;
        font-size: 40px;
        width: 100%;
        text-align: center;
}

#wins {
    color: red;
    font-size: 40px;
}
#currentHero {
    color: red;
    font-size: 40px;
}

#guessesLeft {
    color: red;
    font-size: 40px;
}

#guessed-letters{
    color: red;
    font-size: 40px;
}

